body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#2A93D5, #37CAEC);
    color: #D1EBff;
    height: 100vh;
}

h1 {
    font-size: 38px;
    margin-top: 50px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;     
}

.city-name {
    margin: 10px;
}

.photo-div {
    display: flex;
}

.city-photo {
    width: 400px;
    height: 194px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.forecast-title {
    text-align: center;
}



.drop-down-menu {
    text-align: center;
}


.select-city-name {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    background-color: #D1EBff;
    color: #125488;
    outline: none;
}

.select-city-name option {
    font-weight: 600;
}




.current-weather-container {
    margin: 10px;
    width: 150px;
    background-color: #125488;
    border-radius: 10px;
    padding: 10px 20px; 
    text-align: left; 
}

.current-temperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-icon {
    width: 60px;
    height: 60px;
    margin: 0;
}

h4 {
    color: #37CAEC;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
}

h5 {
    font-size: 34px;
    margin: 0;
}

p {
    font-size: 14px;
}




.days {
    display: flex;
}

.day-weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 86px;
    background-color: #125488;
    border-radius: 10px;
    padding: 10px; 
    text-align: left; 
}


.day-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.day-details p {
    margin-top: 10px;
    margin-left: 2px;
}

.small-weather-icon {
    width: 40px;
    height: 40px;
}

.min-max-temperature {
    display: flex;
}

.rain {
    margin-top: 0;
    margin-bottom: 10px;
}



@media only screen and (max-width: 768px) {
    body {
        height: 110vh;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
        margin-top: 20px;
    }

    .current-weather-container {
        flex-direction: row;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0;
     }
 
    .current-weather-container p {
        padding-bottom: 5px;
        margin-bottom: 0;
        margin-top: 0;
    }
 
    .current-weather-container h4 {
        margin-bottom: 0;
    }

    .select-city-name {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .weather-icon {
        margin-left: 20px;
    }

    .photo-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .city-name {
        display: none;
    }
    
    .city-photo {
        width: 190px;
        height: 100px;
    }

    .days {
        flex-direction: column;
        justify-content: space-around;
    }

    .day-weather-card {
        flex-direction: row;
        justify-content: center;
        width: 170px;
        margin: 5px;
        padding: 2px 10px; 
    }

    .day-weather-card h4 {
        font-size: 12px;
        width: 20px;
    }

    .current-temperature h5 {
        font-size: 26px;
    }

    .small-weather-icon {
        margin-right: 10px;
        margin-left: 10px;
    }

    .day-details {
        flex-direction: row;
        margin-right: 10px;
    }

    .day-details p {
        margin: 0; 
    }

    .rain {
        margin: 0;
        padding: 0;
    }
}

